{% extends 'Kepler/base.html' %}
{% block main %}
    <h1>About Me</h1>
    <p>Me llamo Gabriel e hice este Blog sobre el universo porque me gusta todo lo relacionado con el,
      gracias a CoderHouse aprendi las herramientas necesarias para crear un blog. 
      El blog cuenta con un backend hecho en su totalidad con Python usando Django, 
      además tiene un poco de HTML Y CSS para el frontend. Estoy estudiando
      Ciencia de Datos en la UBA y tome este curso proque nunca vi nada sobre 
      programación entonces me propuse a aprender. Etoy muy contento
      con mi desempeño y agradecido con los profes.
    </p>
{% endblock %}